@tailwind base;
@tailwind components;
@tailwind utilities;

/* 캘린더 스타일링을 위해 편집한 스타일링 목록 */

.rc-picker-panel {
  @apply inline-block align-top;
}

.rc-picker-dropdown {
  @apply absolute pointer-events-none;
}

.rc-picker-dropdown-hidden {
  @apply hidden;
}

.rc-picker-cell {
  @apply rounded-sm cursor-pointer;
}

.rc-picker-cell-hover > .rc-picker-cell-inner,
.rc-picker-cell {
  @apply hover:bg-slate-100;
}

.rc-picker-cell-range-start > .rc-picker-cell-inner,
.rc-picker-cell-range-end > .rc-picker-cell-inner,
.rc-picker-cell-selected > .rc-picker-cell-inner {
  @apply !bg-black !text-white;
}

.rc-picker-cell-inner {
  @apply w-full m-0 bg-transparent border-none outline-none transition-all rounded-sm text-14-r flex items-center justify-center;
  box-sizing: border-box;
}

.rc-picker-range-wrapper .rc-picker-cell {
  @apply text-14-r;
}

.rc-picker-date-panel {
  @apply mr-3;
}

.rc-picker-date-panel .rc-picker-cell-inner {
  @apply p-3;
}

.rc-picker-content > thead {
  @apply w-full;
}

.rc-picker-content > thead > tr > th {
  @apply text-slate-500 text-14-r;
}

.rc-picker-header {
  @apply flex items-center py-3;
}

.rc-picker-header-prev-btn {
  @apply ml-3;
}

.rc-picker-header-next-btn {
  @apply mr-3;
}

.rc-picker-header-prev-btn,
.rc-picker-header-next-btn,
.rc-picker-header-super-prev-btn,
.rc-picker-header-super-next-btn {
  @apply border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground transition-colors py-[0.125rem] px-2 rounded-md;
}

.rc-picker-header-view {
  @apply text-14-m;
}

.rc-picker-month-btn {
  @apply ml-2;
}

.rc-picker-now-btn {
  @apply hidden;
}

.rc-picker-time-panel-column > li .rc-picker-time-panel-cell-inner {
  @apply text-14-r w-full h-7 flex items-center justify-center text-center text-[#333] m-0;
}

.rc-picker-time-panel-column
  > li.rc-picker-time-panel-cell-selected
  .rc-picker-time-panel-cell-inner {
  @apply text-white;
}

.rc-picker-footer,
.rc-picker-picker-footer {
  @apply bg-white;
}

.rc-picker-time-panel-column > li.rc-picker-time-panel-cell > div {
  @apply !bg-white text-14-r text-center py-1;
}

.rc-picker-time-panel-column > li.rc-picker-time-panel-cell-selected,
.rc-picker-time-panel-column > li.rc-picker-time-panel-cell-selected > div {
  @apply !bg-black rounded-[0.375rem] text-white;
}

.rc-picker-datetime-panel .rc-picker-time-panel {
  @apply border-l border-slate-200;
}

.rc-picker-time-panel {
  @apply pl-3 w-auto;
}

.rc-picker-time-panel .rc-picker-content {
  @apply grid gap-x-[0.375rem];
}

.rc-picker-cell-today > .rc-picker-cell-inner {
  @apply bg-slate-100;
}

.rc-picker-input {
  @apply relative inline-flex w-full;
}
.rc-picker-rtl .rc-picker-input {
  @apply text-right;
}
.rc-picker-input-active > input {
  background: rgba(0, 0, 255, 0.05);
}
.rc-picker-input > input {
  @apply rounded-md border border-input bg-transparent px-4 py-2 text-sm shadow-sm transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring cursor-pointer caret-transparent w-full;
}

.rc-picker-input > input::-moz-placeholder {
  @apply opacity-100;
}
.rc-picker-input > input {
  @apply placeholder:text-[#bfbfbf];
}
.rc-picker-input > input:placeholder-shown {
  @apply text-ellipsis;
}
.rc-picker-input-placeholder > input {
  @apply text-[#bfbfbf];
}

.rc-picker-ok {
  @apply mt-3;
}

.rc-picker-ok > button {
  @apply text-14-m border border-slate-100 rounded-sm px-4 py-2 cursor-pointer hover:bg-slate-100 transition;
}

.rc-picker-clear {
  @apply top-1/2 right-2 -translate-y-1/2 absolute cursor-pointer;
}
.rc-picker-rtl .rc-picker-clear {
  @apply right-auto left-1;
}
.rc-picker-clear-btn::after {
  content: '×';
}

.rc-picker-presets {
  @apply hidden;
}
.rc-picker-presets ul {
  @apply m-0 p-0 list-none;
}

.rc-picker-panel-container {
  @apply inline-block align-top transition pointer-events-auto p-3 border border-slate-200 rounded-lg bg-white;
}

.rc-picker-range-arrow {
  @apply hidden;
}

.rc-picker-range {
  @apply relative inline-flex;
}

.rc-picker-range.rc-picker-focused .rc-picker-active-bar {
  @apply opacity-100;
}

.rc-picker-range .rc-picker-active-bar {
  @apply bottom-0 h-full bg-transparent border-2 opacity-0 pointer-events-none rounded-md transition-all border-black;
}

.rc-picker-range-wrapper .rc-picker-cell > div {
  @apply !bg-transparent;
}

.rc-picker-cell.rc-picker-cell-in-range {
  @apply !bg-slate-100;
}

.rc-picker-cell.rc-picker-cell-range-start,
.rc-picker-cell.rc-picker-cell-range-end {
  @apply !bg-black text-white;
}

.rc-picker-body > .rc-picker-content {
  @apply w-full;
}

.rc-picker-range-separator {
  @apply hidden;
}

/* 미수정 스타일링 */

.rc-picker {
  position: relative;
  display: inline-flex;
}
.rc-picker-rtl {
  direction: rtl;
}

.rc-picker-panel-focused {
  border-color: blue;
}
.rc-picker-panel-rtl {
  direction: rtl;
}
.rc-picker-decade-panel,
.rc-picker-year-panel,
.rc-picker-month-panel,
.rc-picker-week-panel,
.rc-picker-date-panel,
.rc-picker-time-panel {
  display: flex;
  flex-direction: column;
}
.rc-picker-decade-panel table,
.rc-picker-year-panel table,
.rc-picker-month-panel table,
.rc-picker-week-panel table,
.rc-picker-date-panel table,
.rc-picker-time-panel table {
  text-align: center;
  border-collapse: collapse;
}

.rc-picker-header > * {
  flex: none;
}
.rc-picker-header-view {
  flex: auto;
  text-align: center;
}
.rc-picker-header-view > button {
  padding: 0;
  border: 0;
}
.rc-picker-cell {
  color: #aaa;
}
.rc-picker-cell-disabled {
  opacity: 0.2;
}

.rc-picker-cell-in-view {
  color: #333;
}
.rc-picker-cell-in-range > .rc-picker-cell-inner {
  background: rgba(0, 0, 255, 0.05);
}

.rc-picker-cell-range-hover-start,
.rc-picker-cell-range-hover-end,
.rc-picker-cell-range-hover {
  position: relative;
}
.rc-picker-cell-range-hover-start::after,
.rc-picker-cell-range-hover-end::after,
.rc-picker-cell-range-hover::after {
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid green;
  border-right: 0;
  border-left: 0;
  content: '';
  pointer-events: none;
}
.rc-picker-cell-range-hover-start::after {
  border-left: 1px solid green !important;
}
.rc-picker-cell-range-hover-end::after {
  border-right: 1px solid green !important;
}

.rc-picker-ranges {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
.rc-picker-ranges > li {
  display: inline-block;
}
.rc-picker-ok {
  float: right;
}
.rc-picker-year-panel .rc-picker-cell-inner,
.rc-picker-month-panel .rc-picker-cell-inner {
  width: 80px;
}
.rc-picker-week-panel-row:hover .rc-picker-cell {
  background: red;
}
.rc-picker-week-panel-row-selected .rc-picker-cell {
  background: rgba(0, 0, 255, 0.3);
}
.rc-picker-week-panel-row-range-hover .rc-picker-cell {
  background: rgba(0, 255, 0, 0.1);
}
.rc-picker-week-panel-row-range-start .rc-picker-cell,
.rc-picker-week-panel-row-range-end .rc-picker-cell {
  background: rgba(0, 255, 0, 0.3);
}
.rc-picker-week-panel .rc-picker-cell,
.rc-picker-week-panel .rc-picker-cell-inner {
  width: 20px;
}
.rc-picker-week-panel .rc-picker-cell-week {
  color: #999;
  font-weight: bold;
  font-size: 12px;
}
.rc-picker-week-panel .rc-picker-cell:hover > .rc-picker-cell-inner,
.rc-picker-week-panel .rc-picker-cell-selected > .rc-picker-cell-inner {
  background: transparent;
}

.rc-picker-time-panel .rc-picker-content {
  position: relative;
  display: flex;
  max-height: 250px;
}
.rc-picker-time-panel-column-title {
  font-size: 14px;
  line-height: 20px;
}
.rc-picker-time-panel-column {
  flex: auto;
  width: 50px;
  margin: 0;
  padding: 0 0 180px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 12px;
  text-align: left;
  list-style: none;
  transition: background 0.3s;
}
.rc-picker-time-panel-column-active {
  background: rgba(0, 0, 255, 0.1);
}
.rc-picker-time-panel-column:hover {
  overflow-y: auto;
}
.rc-picker-time-panel-column > li {
  width: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.rc-picker-time-panel-column > li.rc-picker-time-panel-cell-disabled {
  opacity: 0.5;
}

.rc-picker-panel-rtl
  .rc-picker-time-panel-column
  > li
  .rc-picker-time-panel-cell-inner {
  text-align: right;
}
.rc-picker-datetime-panel {
  display: flex;
}

.rc-picker-datetime-panel .rc-picker-date-panel,
.rc-picker-datetime-panel .rc-picker-time-panel {
  transition: opacity 0.3s;
}
.rc-picker-datetime-panel-active .rc-picker-date-panel,
.rc-picker-datetime-panel-active .rc-picker-time-panel {
  opacity: 0.3;
}
.rc-picker-datetime-panel-active .rc-picker-date-panel-active,
.rc-picker-datetime-panel-active .rc-picker-time-panel-active {
  opacity: 1;
}

.rc-picker-dropdown-range {
  padding: 10px 0;
}

.rc-picker-dropdown-placement-topLeft .rc-picker-range-arrow,
.rc-picker-dropdown-placement-topRight .rc-picker-range-arrow {
  bottom: 10px / 2 + 1px;
  transform: rotate(135deg);
}
.rc-picker-dropdown-placement-bottomLeft .rc-picker-range-arrow,
.rc-picker-dropdown-placement-bottomright .rc-picker-range-arrow {
  top: 6px;
  transform: rotate(-45deg);
}
.rc-picker-dropdown .rc-picker-range-arrow {
  position: absolute;
  left: 10px;
  z-index: 1;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  transition: all 0.3s;
}
.rc-picker-dropdown-rtl.rc-picker-dropdown .rc-picker-range-arrow {
  right: 10px;
  left: auto;
  margin-right: 10px;
  margin-left: 0;
}
.rc-picker-dropdown .rc-picker-range-arrow::before,
.rc-picker-dropdown .rc-picker-range-arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  content: '';
}
.rc-picker-dropdown-rtl.rc-picker-dropdown .rc-picker-range-arrow::before,
.rc-picker-dropdown-rtl.rc-picker-dropdown .rc-picker-range-arrow::after {
  right: 50%;
  left: auto;
  transform: translate(50%, -50%);
}
.rc-picker-dropdown .rc-picker-range-arrow::before {
  width: 10px;
  height: 10px;
  border: 5px solid blue;
  border-color: blue blue transparent transparent;
}
.rc-picker-dropdown .rc-picker-range-arrow::after {
  width: 8px;
  height: 8px;
  border: 8px / 2 solid blue;
  border-color: #fff0ff #fff0ff transparent transparent;
}

.rc-picker-range-wrapper {
  display: flex;
}

.rc-picker-panel-layout {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.rc-picker-selector {
  width: 100%;
}
.rc-picker-selection-overflow {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid green;
  min-height: 1em;
}
.rc-picker-selection-overflow-item {
  flex: none;
  max-width: 100%;
}
.rc-picker-selection-item {
  border: 1px solid blue;
}
.rc-picker-selection-placeholder {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}
.rc-picker-multiple-input {
  width: 10px;
  opacity: 0.1;
}
